.container {
    background-color: cornflowerblue;
    padding: 20px;
    height: 100vh;
}

.form-wrapper {
    width: 300px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
}

.form-wrapper form * {
    margin-bottom: 5px;
    border-radius: 2px;
    padding: 3px;
    border: none;
    height: 1.8em;
}

.error-container {
    color: white;
    background-color: red;
    padding: 10px;
    margin: 10px;
}